<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      11Sports Team / Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h3 class="loginheading">Login to 11SportsTeam</h3>

  <form [formGroup]="turfForm" >
    <!-- <ion-item>
      <ion-input placeholder="Enter Your Name"></ion-input>
     
    </ion-item> -->
    <ion-item>

      <ion-input type="tel"  formControlName="mobileNumber" placeholder="Enter Mobile Number" required></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="navigateToOtpPage()">Get OTP</ion-button>
    
  </form>
 
</ion-content>
