<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      11Sports Team
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <div id="container">
    <!-- <strong>Current location Is</strong>
    <p>Lat : {{lat}}, Lng : {{lng}}</p>
    <ion-button expand="full" (click)="WhereIam()">Get Start</ion-button> -->
    <div class="rocket">

      <img src="assets/sports11.png"  style="height: 130px;" class="">

    </div>

    <div class="loader-container">
      <div class="flipping-cards">
          <div class="card">1</div>
          <div class="card">1</div>
          <div class="card">S</div>
          <div class="card">p</div>
          <div class="card">o</div>
          <div class="card">r</div>
          <div class="card">t</div>
          <div class="card">s</div>
          <div class="card">T</div>
          <div class="card">e</div>
          <div class="card">a</div>
          <div class="card">m</div>
      </div>
  </div>
   
  </div>
</ion-content>
